@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: Poppins, sans-serif;
  background-color: whitesmoke;
  margin: 0 20px;
}

header{
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

header > div{
  display: flex;
  align-items: center;
}

.menu-toggle{
  display: none;
}

header > div > i, header > div > button > i {font-size: 20px;}

button{
  border: none;
  background-color:whitesmoke;
}

button:hover{
  cursor: pointer;
  color: black;
}

input {
  flex-grow: 6;
  margin-left: 5px;
  border: none;
  background-color: rgb(196, 196, 196);
  border-radius: 5px;
  height: 2.5em;
  font-family: inherit;
  padding: 0 10px;
}

input:focus{
  outline: none;
  color: black;
}

.user-name{margin-left: 15px;}

.profile-options{
  display: none;
  background-color: white;
}

.profile-options li, a{
  display: block;
  color: black;
  text-decoration: none;
}

.my-profile{
  display: flex;
  align-items: center;
}

.user-icon{
  font-size: 35px;
  margin-left: 10px;
}

.content{
  display: flex;
  padding: 10px;
}

#asideMenu{
  position: relative;
}

#asideMenu > .hide-aside{
  display: none;
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 2rem;
}

.content > .aside-content{
  width: 20%;
  padding: 50px 0;
}

.content > .main-content{
  width: 80%;
  margin-left: 10px;
}

.aside-btn{
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  transition: .5s ease;
  box-sizing: border-box;
}

.aside-btn:hover{
  background-color: grey;
  color: whitesmoke;
  cursor: pointer;
  padding-left: 10px;
}

.aside-btn > p{
  font-size: 1rem;
  font-weight: 600;
}

.icon{margin: 0 10px;}

.to-do-container{
  width: 75%;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
  display: flex;
  align-items: center;
  transition: .3s ease;
  background-color: whitesmoke;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 10px 0;
}

/* .to-do-container:hover{
  border: none;
  background-color: grey;
  color: white;
  cursor:pointer;
} */

.to-do-container .to-do-details{
  margin-left: 20px;
  padding: 10px;
  box-sizing: border-box;
  width: 80%;
}

.to-do-details > h3, .to-do-details > p{margin: 0;}

.button-icon{
  font-size: 2rem;
  margin-right: 20px;
}

.button-icon:hover{
  cursor:pointer;
}

.showtodo-title{font-size: 1.5rem;}

.add-to-do{
  display: flex;
  align-items: center;
  width: 80%;
  height: 2em;
}

.add-to-do > .add-todo-input{
  width: 50%;
  height: 100%;
  font-size: 1rem;
}

.add-to-do > .add-deadline-input{
  flex-grow: 1;
  color: white;
  font-family: inherit;
}

.add-todo-btn{
  font-size: 2rem;
  color: grey;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-categories{
  font-size: 1rem;
  font-family: inherit;
  border: none;
  background-color: grey;
  color: white;
  padding: 3px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 10px;
}

.select-categories:hover{cursor: pointer;}

button.add-category{
  border-radius: 10px;
  background-color: grey;
  color: white;
  height: 2em;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  margin-top: 10px;
}

button.add-category p{
  font-size: 1.2rem;
  font-weight: bold;
}

button.add-category:hover{
  color: rgb(37, 37, 37);
}

@media (max-width: 800px) {
  .my-profile{display: none !important;}
  
  .menu-toggle{display: block;}

  .content > .aside-content{
    display: none;
    opacity: 0;
    transform: translateX(-1000%);
    position: absolute;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    transition: all 1s ease;
  }

  .content > .aside-content > #asideMenu{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }

  #asideMenu > .hide-aside{
    display: block;
  }

  .content > .main-content{
    width: 100%;
  }

  .add-to-do{
    height: auto;
    display: block;
    width: 100%;
  }

  .add-to-do > .add-todo-input, .add-to-do > .add-deadline-input, .add-to-do >.select-categories {
    margin: 5px 0;
    height: 2em;
    width: 90%;
  }

  .button-icon{
    font-size: 2.5vmax;
    margin-right: 0;
  }

  .to-do-container{
    width: 95%;
    padding: 0 10px;
  }

  .to-do-container > .to-do-details{
    margin-left: 0;
  }

  .to-do-container > .to-do-details > h3{
    font-size: 2vmax;
  }

  .to-do-container > .to-do-details > p{
    font-size: 1.5vmax;
  }
  
  .to-do-container > button{
    flex-grow: 1;
  }
}